#intro {
  display: flex;
  flex-direction: column;
  height: 260vh;
}

.intro-heading {
  display: flex;
  margin-top: 10rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro-caption {
  display: flex;
  gap: 5px;
}

.intro-caption > div {
  opacity: 0;
}

.perspective-intro > span {
  font-size: clamp(2.9rem, 5vw, 3.5rem);
}

.perspective-intro {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  font-family: ZentryScreamer, Helvetica Neue, sans-serif;
  line-height: 0.9;
  padding: 1rem;
}

.line > span {
  margin: 0 5px;
  letter-spacing: -5px;
}

.perspective-intro {
  transform: rotateY(70deg) rotateX(20deg) translateX(-80%) translateY(20px);
}

.word {
  opacity: 0;
}

.frame {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.frame-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  clip-path: polygon(50% 15%, 80% 40%, 80% 75%, 20% 75%, 20% 40%);
  overflow: hidden;
}

.frame-inner > img {
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  scale: 0.8;
}

.under-text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  padding: 2rem;
}

.frame-text {
  font-size: clamp(2rem, 3vw, 4rem);
  font-family: ZentryScreamer, Helvetica Neue, sans-serif;
  margin: 0 5px;
  letter-spacing: -5px;
  font-weight: bold;
}
